$baseColor: #8b8b8b;
$headingColor: #5c5c5c;
$cardColor: #fafafa;
$shadowColor: rgba(50,50,50,.3);

$thumbnailHeight: 366px;
$thumbnailPadding: 5px 8px;

$green: #47bb80;
$lightGray: #c8c8c8;


$fontHeavy: 700;
$fontLight: 100;

$fontSmall: 13px;
$fontLarge: 16px;
