// Place all the styles related to the assignment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.soup-thumbnail{
  color: $baseColor;
  background: $cardColor;
  border-radius: 4px;
  margin-top:10px;
  cursor: pointer;
  min-height: $thumbnailHeight;
  @include box-shadow(0px,0px,8px,$shadowColor);
  &:hover {
    .thumbnail-content {
      display: none;
    }
    .thumbnail-description {
      display: block;
    }
  }
  .thumbnail-content {
    .user {
      color: $headingColor;
      padding: $thumbnailPadding;
      display: inline-block;
      width: 100%;
      .user-image {
        float: left;
        width: 30%;
        padding-right:5px;
        .th {
          width:50px;
          height:50px;
          border-radius: 50%;
        }
      }
      .description {
        float: left;
        // display: inline-block;
        width: 70%;
        p {
            text-align: left;
            margin: 0;
            margin-bottom: 3px;
            width: 100%;
            @include text-overflow();
            &.name {
              font-weight: $fontHeavy;
            }
            &.verified {
              font-size: $fontSmall;
              font-weight: $fontLight;
            }
        }
      }
    }
    .rating {
      // border-top: 2px solid $lightGray;
      // border-bottom: 2px solid $lightGray;
      @include box-shadow(0px,0px,3px,$shadowColor);
      text-align: center;
      padding: 8px 0px;
      .fa-star {
        font-size: $fontLarge;
        color: $lightGray;
        &.filled {
          color: $green;
        }
      }
    }
    .thumbnail-name {
      color: $headingColor;
      padding: $thumbnailPadding;
      p {
        margin:0;
        margin-bottom: 3px;
        font-weight: $fontHeavy;
      }
      p.subject {
        text-transform: uppercase;
        font-weight: $fontHeavy;
      }
    }
    .product-image {
      .th {
        max-height: 12em;
        width:100%;
        @include box-shadow(0px,0px,3px,$shadowColor);
      }
    }
  }
  .thumbnail-description {
    display: none;
    color: $baseColor;
    padding: $thumbnailPadding;
  }
}
